<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nome de Usuário Já Existe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Erro!</h4>
            <p>O nome de usuário já existe. Por favor, escolha outro nome de usuário.</p>
            <hr>
            <p class="mb-0">
                <a href="/register" class="btn btn-primary">Voltar para o registro</a>
            </p>
        </div>
        <p class="mt-3 mb-3 text-muted text-center">©Desenvolvido por Leonardo Ramos</p>
    </div>
</body>
</html>
