<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    body {
        font-family: 'Roboto', sans-serif;
        background-color: #f8f9fa;
        padding-top: 40px;
    }
</style>
<body>
    <a href="/login">⇦ Tela de Login</a>
    <div class="container mt-5">
        <h1>Tarefas do Usuário</h1>
        <ul class="list-group mt-3">
            <li th:each="task : ${tasks}" class="list-group-item">
                <span><span th:text="${task.title}"></span></span><br>
                <span><span th:text="${task.description}"></span></span><br>
                    <span> Criado em: <span th:text="${task.creationDate}"></span></span><br>
                    <span> Data conclusão: <span th:text="${task.finalDate}"></span></span><br>
                    <span> Prioridade: <span th:text="${task.priority}"></span></span><br>
                    <span> Status: <span th:text="${task.status}"></span></span><br>
                    <span> Categoria: <span th:text="${task.category}"></span></span><br>
                    <div class="float-right">
                        <a th:href="@{/task/delete/{idTask}(idTask=${task.id})}">Remover tarefa</a><br>
                        <a th:href="@{/task/status/{idTask}(idTask=${task.id})}">Mudar status da tarefa</a><br>
                        <a th:href="@{/task/update/{idTask}(idTask=${task.id})}">Editar tarefa</a><br>
                    </div>
            </li>
        </ul>
        <a th:href="@{/task/tasks/add/{idUser}(idUser=${idUsuario})}">Adicionar Tarefa</a>
    </div>
    <p class="mt-3 mb-3 text-muted text-center">©Desenvolvido por Leonardo Ramos</p>
</body>
</html>
